%side-bar-style {
  font-size: $font-size-side-title;
  font-family: $font-type-side-bar;
  padding-bottom: $padding-side-bar-title;
}

%style-main-title {
  font-size: $font-size-main-title;
  color: $color-main-title;
  padding-bottom: $padding-main-title;
}