%style-header-nav {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 50px;
  color: #fff;
  padding: 0 25px;
}

%style-main-nav {
  font-size: 80px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(10,25,156);
}

%style-side-bar-title {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 16px;
  color: rgb(10,25,156);
  text-transform: uppercase;
}

%style-side-bar-content {
  font-size: 16px;
  padding-bottom: 16px;
  line-height: 24px;
  color: rgb(10,25,156);
}

%style-main-title {
  font-size: 80px;
  color: rgb(10,25,156);
  padding-bottom: 60px;
  font-weight: 700;
}

%style-main-content {
  font-size: 16px;
  line-height: 24px;
  color: rgb(92,92,92);
  font-weight: lighter;
  padding-bottom: 30px;
}

%style-side-bar-publication {
  font-size: 14px;
  padding-bottom: 16px;
  line-height: 20px;
  color: rgb(92,92,92);
}

%style-member-name {
  font-size: 16px;
  line-height: 24px;
  color: rgb(92,92,92);
}

%style-publication-article-title {
  font-size: 16px;
  line-height: 24px;
  color: rgb(92,92,92);
  font-weight: lighter;
}

%style-alumni {
  font-size: 16px;
  line-height: 24px;
  color: rgb(92,92,92);
  padding-bottom: 16px;
}

%style-collaborator {
  font-size: 16px;
  line-height: 24px;
  color: rgb(92,92,92);
  padding-bottom: 16px;
}