$width-grid-container: 80%;
$width-column-gap: 40px;
$width-photo: 80%;
$height-photo: auto;
/*****************/
/**** COLOR ******/
/*****************/
$color-bg: rgb(247,247,247);
$color-header: rgb(10,25,156);
$color-font-journal: grey;
$color-font-main-nav: #fff;
/*****************/
/**** FONT *******/
/*****************/
$font-size-nav: 87px;
$font-size-side-title: 16px;
$font-size-news-content: 16px;
$font-size-main-title: 40px;
$font-size-publication-content: 16px;
$font-type-nav: 'Roboto', sans-serif;
$font-type-side-bar: 'Roboto', sans-serif;
/*****************/
/**** LAYOUT *****/
/*****************/
$padding-news-content: 15px;
$padding-publication-content: 15px;
$padding-side-bar-title: 15px;
$padding-main-title: 60px;
$height-news-content: 22px;
$height-research-content: 22px;
/*$column-width:;
$column-gap-width:;
$row-width:;
$row-gap-width:;*/
$root-path: "..";