$width-grid-container: 80%;
$width-column-gap: 0;
/*****************/
/**** COLOR ******/
/*****************/
$color-bg-main-nav: #fff;
$color-bg-side-bar-news: #fff;
$color-research-title: #000;
$color-research-content: #000;
$color-bg-main-research: #fff;
$color-font-journal: grey;
/*****************/
/**** FONT *******/
/*****************/
$font-size-nav: 90px;
$font-size-side-title: 16px;
$font-size-news-content: 16px;
$font-size-research-title: 40px;
$font-size-research-content: 16px;
$font-size-publication-content: 16px;
$font-type-nav: 'Roboto', sans-serif;
$font-type-side-bar: 'Roboto', sans-serif;
/*****************/
/**** LAYOUT *****/
/*****************/
$padding-news-content: 15px;
$padding-publication-content: 15px;
$padding-side-bar-title: 15px;
$padding-main-title: 60px;
$height-news-content: 22px;
$height-research-content: 22px;
/*$column-width:;
$column-gap-width:;
$row-width:;
$row-gap-width:;*/
$root-path: "..";