@import "variables";
@import "mixin";
/******************/
/****** RESET *****/
/******************/
* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: $color-bg;
}
/******************/
/*** COMMON *******/
/******************/
.header {
  width: 100%;
  height: 50px;
  background-color: $color-main-dark;
  position: fixed;
  box-shadow: 0 1px 5px #000;
  z-index: 10;
}

.nav-bar {
  width: $width-container-inner;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;

  a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 50px;
    color: #fff;
    padding: 0 25px;
  }
}

.grid-container {
  display: grid;
  width: $width-container-inner;
  height: auto;
  margin: 0 auto;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-column-gap: $width-column-gap;
}
/*******************************/
/*** HOME **********************/
/*******************************/
/*****************/
/**** NAV ********/
/*****************/
.header-blank {
  grid-column: 1 / span 12;
  height: 150px;
}

.main-nav {
  grid-column: 1 / span 9;
  box-sizing: border-box;
}

.side-bar-news {
  grid-column: 10 / span 3;
  box-sizing: border-box;
}

.main-nav {
  h1 {
    a {
      @extend %style-main-nav;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .participant {
    font-style: italic;
  }
}

.side-bar-news {
  .side-bar-title {
    @extend %style-side-bar-title;
  }

  p {
    @extend %style-side-bar-content;
  }
}
/******************************************/
/************ MASQUEE *********************/
/******************************************/
.container {
  width: 35px;
  height: 100%;
  background-color: $color-header;
  position: absolute;
  top: 0;
  right: 0;
}

.masquee {
  width: 500px;
  height: 35px;
  line-height: 35px;
  transform-origin: 0 0;
  transform: rotate(90deg);
  animation: masquee 15s linear infinite;
  position: fixed;
  top: 0;
  right: -465px;

  p {
    color: #fff;
    transform: translateY(-100%);
  }
}
@keyframes masquee {
  from {
    top: 100%;
  }

  to {
    top: -100%;
  }
}
/*************************************************************/
/******* RESEARCH ********************************************/
/*************************************************************/
/***.research-title {
  grid-column: 1 / span 7;
  @extend %style-main-title;
  margin-top: $height-margin-top-main-title;
}

.main-research {
  grid-column: 1 / span 7;
  height: 100%;
}

.main-research {
  @extend %style-main-title;

  p {
    @extend %style-main-content;
  }

  div[class|="image-cna"] {
    display: inline-block;
  }

  .image-cna-1-face {
    background: url("#{$root-path}/image/CNA_1.png") 0 0;
    width: 470px;
    height: 225px;
    margin: 40px 0;
  }

  .image-cna-1-brain {
    background: url("#{$root-path}/image/CNA_1.png") 0 -223px;
    width: 470px;
    height: 230px;
    margin: 0 0 40px;
  }

  .image-cna-2-plot {
    background: url("#{$root-path}/image/CNA_2.png") 0 0;
    width: 1024px;
    height: 449px;
  }
}

.side-bar-publication {
  grid-column: 10 / span 3;

  .side-bar-title {
    @extend %style-side-bar-title;
  }

  .publication-content {
    height: 25%;
    overflow: hidden;
  }

  p {
    @extend %style-side-bar-publication;
  }

  .journal {
    font-style: italic;
  }
}
***/
/**************************************/
/************ RESEARCH 2 ******************/
/**************************************/
/***.image-ccn-1 {
  background: url("#{$root-path}/image/CCN_1.png") 0 0 no-repeat;
  width: 400px;
  height: 300px;
  background-size: 100%;
  padding-bottom: 30px;
}

.image-ccn-2 {
  background: url("#{$root-path}/image/CCN_2.png") 0 0 no-repeat;
  width: 800px;
  height: 300px;
  background-size: 100%;
  padding-bottom: 30px;
}
***/
/**************************************/
/************ MEMBER ******************/
/**************************************/
.member-title {
  grid-column: 1 / span 12;
  margin-top: $height-margin-top-main-title;
  font-size: 70px;
  color: rgb(10,25,156);
  padding-bottom: $height-margin-top-main-title;
  font-weight: 700;
  text-align: center;
  /*@extend %style-main-title;*/
}

.main-people {
  grid-column: 1 / span 12;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .person {
    margin-bottom: 80px;
    padding: 0 20px;

    img {
      width: 200px;
      padding-bottom: 15px;
      filter: grayscale(100%);
    }

    img[src*="noPhoto"] {
      opacity: 0.2;
    }

    span::before {
      content: " ";
    }

    .name {
      @extend %style-member-name;
      font-weight: 700;
    }

    .position {
      @extend %style-member-name;
    }
  }
}

.side-bar-alumni {
  grid-column: 1 / span 4;

  p {
    @extend %style-alumni;
  }
}

.side-bar-collaborator {
  grid-column: 5 / span 8;
  @extend %style-collaborator;
}
/**********************************/
/******** CONTACT *****************/
/**********************************/
.main-contact {
  grid-column: 1 / span 6;
}

.contact-title {
  font-size: $font-size-main-title;
}
/**********************************/
/******** PUBLICATION *****************/
/**********************************/
.publication-title {
  grid-column: 1 / span 12;
  @extend %style-main-title;
  margin-top: $height-margin-top-main-title;
}

.article-left-column {
  grid-column: 1 / span 6;

  h3 {
    padding-bottom: 30px;
    color: $color-header;
  }

  p {
    padding-bottom: 15px;
  }

  a {
    text-decoration: none;
    @extend %style-publication-article-title;
  }

  .journal {
    @extend %style-publication-article-title;
    font-style: italic;
  }
}

.abstract-right-column {
  grid-column: 7 / span 6;

  h3 {
    padding-bottom: 30px;
    color: $color-header;
  }

  p {
    padding-bottom: 15px;
  }

  a {
    text-decoration: none;
    @extend %style-publication-article-title;
  }

  .conference {
    @extend %style-publication-article-title;
    font-style: italic;
  }
}
/*************************************/
/********** participant **************/
/*************************************/
.experiment-list {
  grid-column: 1 / span 9;

  table {
    width: 100%;
    background-color: #fff;
    color: $color-header;
    border-collapse: collapse;

    .accordion {
      cursor: pointer;
      text-align: left;
      vertical-align: text-top;

      tr {
        border: 3px solid $color-header;
        height: 100px;
        vertical-align: text-top;

        td {
          padding: 15px;
        }
      }
    }

    .accordion:hover {
      background-color: $color-header;
      color: #fff;
    }

    .panel {
      display: none;

      td {
        height: 100px;
        font-size: 12px;
        line-height: 20px;
        vertical-align: text-top;
        padding: 15px;
        border: 3px solid $color-header;
        border-top: none;
      }

      td:first-child {
        width: 18%;
      }

      td:nth-child(3) {
        width: 10%;
      }

      td:nth-child(4) {
        width: 20%;
      }

      tr:last-child {
        background-color: $color-header;
        color: #fff;

        td {
          height: 30px;
          text-align: center;
          line-height: 30px;
          padding: 0;
        }
      }
    }
  }
}

.active {
  background-color: $color-header;
  background-clip: padding-box;
  color: #fff;
}