/*****************/
/**** COLOR ******/
/*****************/
/*****************/
/**** FONT *******/
/*****************/
/*****************/
/**** LAYOUT *****/
/*****************/
/*$column-width:;
$column-gap-width:;
$row-width:;
$row-gap-width:;*/
.nav-bar a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 50px;
  color: #fff;
  padding: 0 25px; }

.main-nav h1 a {
  font-size: 80px;
  text-transform: uppercase;
  text-decoration: none;
  color: #0a199c; }

.side-bar-news .side-bar-title, .side-bar-publication .side-bar-title {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 16px;
  color: #0a199c;
  text-transform: uppercase; }

.side-bar-news p {
  font-size: 16px;
  padding-bottom: 16px;
  line-height: 24px;
  color: #0a199c; }

.research-title, .main-research, .publication-title {
  font-size: 80px;
  color: #0a199c;
  padding-bottom: 60px;
  font-weight: 700; }

.main-research p {
  font-size: 16px;
  line-height: 24px;
  color: #5c5c5c;
  font-weight: lighter;
  padding-bottom: 30px; }

.side-bar-publication p {
  font-size: 14px;
  padding-bottom: 16px;
  line-height: 20px;
  color: #5c5c5c; }

.main-people .person .name, .main-people .person .position {
  font-size: 16px;
  line-height: 24px;
  color: #5c5c5c; }

.article-left-column a, .article-left-column .journal, .abstract-right-column a, .abstract-right-column .conference {
  font-size: 16px;
  line-height: 24px;
  color: #5c5c5c;
  font-weight: lighter; }

.side-bar-alumni p {
  font-size: 16px;
  line-height: 24px;
  color: #5c5c5c;
  padding-bottom: 16px; }

.side-bar-collaborator {
  font-size: 16px;
  line-height: 24px;
  color: #5c5c5c;
  padding-bottom: 16px; }

/******************/
/****** RESET *****/
/******************/
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  /*border: 1px solid red;*/ }

body,
html {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7; }

/******************/
/*** COMMON *******/
/******************/
header {
  width: 100%;
  height: 50px;
  background-color: rgba(10, 25, 156, 0.9);
  position: fixed;
  box-shadow: 0 1px 5px #000;
  z-index: 10; }

.nav-bar {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end; }

.grid-container {
  display: grid;
  width: 80%;
  height: auto;
  margin: 0 auto;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 40px; }

/*******************************/
/*** HOME **********************/
/*******************************/
/*****************/
/**** NAV ********/
/*****************/
.header-blank {
  grid-column: 1 / span 12;
  height: 150px; }

.main-nav {
  grid-column: 1 / span 9;
  box-sizing: border-box; }

.side-bar-news {
  grid-column: 10 / span 3;
  box-sizing: border-box; }

.main-nav h1 a:hover {
  text-decoration: underline; }
.main-nav .participant {
  font-style: italic; }

/******************************************/
/************ MASQUEE *********************/
/******************************************/
.container {
  width: 35px;
  height: 100%;
  background-color: #0a199c;
  position: absolute;
  top: 0;
  right: 0; }

.masquee {
  width: 500px;
  height: 35px;
  line-height: 35px;
  transform-origin: 0 0;
  transform: rotate(90deg);
  animation: masquee 15s linear infinite;
  position: fixed;
  top: 0;
  right: -465px; }
  .masquee p {
    color: #fff;
    transform: translateY(-100%); }

@keyframes masquee {
  from {
    top: 100%; }
  to {
    top: -100%; } }
/*************************************************************/
/******* RESEARCH ********************************************/
/*************************************************************/
.research-title {
  grid-column: 1 / span 7;
  margin-top: 200px; }

.main-research {
  grid-column: 1 / span 7;
  height: 100%; }

.main-research div[class|="image-cna"] {
  display: inline-block; }
.main-research .image-cna-1-face {
  background: url("../image/CNA_1.png") 0 0;
  width: 470px;
  height: 225px;
  margin: 40px 0; }
.main-research .image-cna-1-brain {
  background: url("../image/CNA_1.png") 0 -223px;
  width: 470px;
  height: 230px;
  margin: 0 0 40px; }
.main-research .image-cna-2-plot {
  background: url("../image/CNA_2.png") 0 0;
  width: 1024px;
  height: 449px; }

.side-bar-publication {
  grid-column: 10 / span 3; }
  .side-bar-publication .publication-content {
    height: 25%;
    overflow: hidden; }
  .side-bar-publication .journal {
    font-style: italic; }

/**************************************/
/************ RESEARCH 2 ******************/
/**************************************/
.image-ccn-1 {
  background: url("../image/CCN_1.png") 0 0 no-repeat;
  width: 400px;
  height: 300px;
  background-size: 100%;
  padding-bottom: 30px; }

.image-ccn-2 {
  background: url("../image/CCN_2.png") 0 0 no-repeat;
  width: 800px;
  height: 300px;
  background-size: 100%;
  padding-bottom: 30px; }

/**************************************/
/************ MEMBER ******************/
/**************************************/
.member-title {
  grid-column: 1 / span 12;
  margin-top: 200px;
  font-size: 70px;
  color: #0a199c;
  padding-bottom: 200px;
  font-weight: 700;
  text-align: center;
  /*@extend %style-main-title;*/ }

.main-people {
  grid-column: 1 / span 12;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .main-people .person {
    margin-bottom: 80px;
    padding: 0 20px; }
    .main-people .person img {
      width: 200px;
      padding-bottom: 15px;
      filter: grayscale(100%); }
    .main-people .person img[src*="noPhoto"] {
      opacity: 0.2; }
    .main-people .person span::before {
      content: " "; }
    .main-people .person .name {
      font-weight: 700; }

.side-bar-alumni {
  grid-column: 1 / span 4; }

.side-bar-collaborator {
  grid-column: 5 / span 8; }

/**********************************/
/******** CONTACT *****************/
/**********************************/
.main-contact {
  grid-column: 1 / span 6; }

.contact-title {
  font-size: 40px; }

/**********************************/
/******** PUBLICATION *****************/
/**********************************/
.publication-title {
  grid-column: 1 / span 12;
  margin-top: 200px; }

.article-left-column {
  grid-column: 1 / span 6; }
  .article-left-column h3 {
    padding-bottom: 30px;
    color: #0a199c; }
  .article-left-column p {
    padding-bottom: 15px; }
  .article-left-column a {
    text-decoration: none; }
  .article-left-column .journal {
    font-style: italic; }

.abstract-right-column {
  grid-column: 7 / span 6; }
  .abstract-right-column h3 {
    padding-bottom: 30px;
    color: #0a199c; }
  .abstract-right-column p {
    padding-bottom: 15px; }
  .abstract-right-column a {
    text-decoration: none; }
  .abstract-right-column .conference {
    font-style: italic; }

/*************************************/
/********** participant **************/
/*************************************/
.experiment-list {
  grid-column: 1 / span 9; }
  .experiment-list table {
    width: 100%;
    background-color: #fff;
    color: #0a199c;
    border-collapse: collapse; }
    .experiment-list table .accordion {
      cursor: pointer;
      text-align: left;
      vertical-align: text-top; }
      .experiment-list table .accordion tr {
        border: 3px solid #0a199c;
        height: 100px;
        vertical-align: text-top; }
        .experiment-list table .accordion tr td {
          padding: 15px; }
    .experiment-list table .accordion:hover {
      background-color: #0a199c;
      color: #fff; }
    .experiment-list table .panel {
      display: none; }
      .experiment-list table .panel td {
        height: 100px;
        font-size: 12px;
        line-height: 20px;
        vertical-align: text-top;
        padding: 15px;
        border: 3px solid #0a199c;
        border-top: none; }
      .experiment-list table .panel td:first-child {
        width: 18%; }
      .experiment-list table .panel td:nth-child(3) {
        width: 10%; }
      .experiment-list table .panel td:nth-child(4) {
        width: 20%; }
      .experiment-list table .panel tr:last-child {
        background-color: #0a199c;
        color: #fff; }
        .experiment-list table .panel tr:last-child td {
          height: 30px;
          text-align: center;
          line-height: 30px;
          padding: 0; }

.active {
  background-color: #0a199c;
  background-clip: padding-box;
  color: #fff; }

/*# sourceMappingURL=main.css.map */
