@import "variables";
/****** RESET *****/
/******************/
* {
  margin: 0;
  padding: 0;
  font-family: 'Heebo', sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: $color-bg;
}
/*****************************/
/**********COMMON*************/
/*****************************/
header {
  @extend %style-header;

  .home {
    @extend %style-menu-item;
    padding-left: 0;
    float: left;
  }

  .menu {
    @extend %style-menu;

    a {
      @extend %style-menu-item;
    }
  }
}

.container-inner {
  width: $width-container-inner;
  margin: 0 auto;

  .experiment-title {
    @extend %style-hero-content-title;
  }

  .experiment-desc {
    @extend %style-hero-content;

    .wording-em {
      text-decoration: underline;
    }
  }
}

.exp-container-outer {
  width: $width-container-outer;
  @extend %style-exp-container-outer;

  .experiment-topic {
    @extend %style-content-title;
  }

  .exp-investigator {
    padding: 50px 0 15px;
    @extend %style-content;
  }

  .experiment-content {
    @extend %style-content;
  }
}
/****** following is the dropdown effect****/
.accordion {
  cursor: pointer;
}

.panel {
  display: none;
  /*.container-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }*/
}

.exp-outer {
  margin-bottom: 100px;
}
/********* panel style *******/
.experiment-detail:first-child {
  border-top: 3px solid $color-main-dark;
}

.experiment-detail:last-child {
  border-bottom: none;
  margin-bottom: 50px;
}

.experiment-detail {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  @extend %style-exp-detail-container;

  .exp-order {
    flex: 0 0 100px;
    @extend %style-exp-order;
  }

  .exp-summary {
    flex: 0 0 200px;

    .exp-name {
      @extend %style-exp-name;
    }

    .exp-time-location {
      @extend %style-exp-time-location;

      .material-icons {
        font-size: 12px;
      }
    }
  }

  .exp-desc {
    flex: 0 0 350px;
    @extend %style-exp-summary;
  }
}